<div class="container">
  <div id="beer-container">
    {{#each beersFromAPI}}
      <div id="beer">
        <a href="/beer-by-id/{{this.id}}"><img src="{{this.image_url}}" alt="beer image" width="100px"></a>
        <a href="/beer-by-id/{{this.id}}"><h2>{{this.name}}</h2></a>
        <h3>{{this.tagline}}</h3>
        <span>{{this.description}}</span>
      </div>
    {{/each}}
    </div>
</div>